*{
    margin: 0px;
}
.App{
    background-color: #fafafa;
}
.app__header {
    position: sticky;
    top:0;
    z-index: 1;
    height: 40px;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app__headerImage{
    width: 100px;
    object-fit: contain;
}
.modal-elements{
    text-align: center;
    
}

.app__signUp{
    display: flex;
    flex-direction: column;
}

.signInToUpload{
    border: 2px solid lightgray;
    padding: 20px;
    background-color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}
.btn{
    color: black;
}
.app__posts{
   padding: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.app__postsLeft{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
   
}
.sign{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  object-fit: contain;

}

@media screen and (min-width:220px) and (max-width:1024px) {
    .app__posts{
        padding: 20px;
         width: 90%;
         margin-left: auto;
         margin-right: auto;
     }

    .app__postsLeft{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
       
    }
}